
@import url("font-awesome.min.css");
.title {
  padding: 0;
  width: 350px;
}

.photoFrame {
  height: 200px;
  border: solid 1px black;
}
#close_button{
	display :inline;

	padding-left :50px;
}
/* Icons */
	.icon {
		position: relative;
		text-decoration: none;
	}

	.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}
/* Desktop */

	@media screen and (min-width: 737px) {

		/* Basic */

			body {
				width: 100%;
				min-width: 1000px;
				min-height: 100%;
				overflow-y: scroll;
				background-attachment: fixed;
				font-size: 14pt;
				line-height: 1.75em;
			}

		/* Wrapper */

			#wrapper {
				width: 45em;
				margin: 0 auto;
				opacity: 0.00001;
			}
				#wrapper.tall {
					padding-bottom: 6em;
				}
		/* Nav */

			#nav {
				text-align: center;
				height: 4.25em;
				cursor: default;
			}

			#nav a {
					font-size: 2.5em;
					margin: 0 0.25em 0 0.25em;
					opacity: 0.35;
					outline: 0;
					-moz-transition: opacity .25s ease-in-out;
					-webkit-transition: opacity .25s ease-in-out;
					-ms-transition: opacity .25s ease-in-out;
					transition: opacity .25s ease-in-out;
					position: relative;
					display: inline-block;
					color: #ffffff;
					width: 1em;
					height: 1em;
					line-height: 0.9em;
				}

				#nav a:before {
						font-size: 0.8em;
					}

				#nav a:after {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						bottom: -0.75em;
						margin-left: -0.5em;
						border-bottom: solid 0em #ffffff;
						border-left: solid 0.5em transparent;
						border-right: solid 0.5em transparent;

					}

				#nav a span {
						display: block;
						position: absolute;
						background: #222222;
						color: #ffffff;
						top: -2.75em;
						font-size: 0.3em;
						height: 2.25em;
						line-height: 2.25em;
						left: 50%;
						opacity: 0;
						-moz-transition: opacity .25s ease-in-out;
						-webkit-transition: opacity .25s ease-in-out;
						-ms-transition: opacity .25s ease-in-out;
						transition: opacity .25s ease-in-out;
						width: 5.5em;
						margin-left: -2.75em;
					}

					#nav a span:after {
							content: '';
							display: block;
							position: absolute;
							bottom: -0.4em;
							left: 50%;
							margin-left: -0.6em;
							border-top: solid 0.6em #222222;
							border-left: solid 0.6em transparent;
							border-right: solid 0.6em transparent;
						}

				#nav a:hover {
						opacity: 1.0;
					}

				#nav a:hover span {
							opacity: 1.0;
						}

			  #nav a.active {
						opacity: 1.0;
					}

				#nav a.active:after {
							border-bottom-width: 0.5em;
						}

		/* Panels */
			#main {
				width: 45em;
				background: #ffffff;
				box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
				position: relative;
				overflow: hidden;
			}

			.panel {
				padding: 3.5em 2.5em 3.5em 2.5em;
				position: relative;
				top: 0;
				left: 0;
				width: 45em;
			}

		/* 공지사항 */

			#notice {
				padding: 0;
				height: 20em;
			}
			#notice .pic .arrow {
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						margin-top: -1.375em;
						width: 2.75em;
						height: 2.75em;
						background: #000;
						background: rgba(0, 0, 0, 0.75);
						color: #ffffff;
						text-align: center;
						line-height: 2.75em;
						font-size: 1.5em;
						z-index: 1;
					}
		 #notice header {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					margin-left: 2.5em;
				}

			#notice header > h1 {
						position: absolute;
						left: 0;
						bottom: 52.5%;
						margin: 0;
					}
			.hide{
				display: none;
			}

	}
