header { /*로고이미지와 로그인, 회원가입이 있는 맨 윗부분*/
  height: 150px;
}
body {
  background-image: url("images/overlay.png"), url("images/bg.jpg");
  background-size: auto, 100% 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #777777;
  margin: auto;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  overflow-y: scroll;
  background-attachment: fixed;
  font-size: 14pt;
  line-height: 1.75em;
}

.logo a, .account a, .menuBar a {
  text-decoration: none;
  line-height: 50px;
}

.logo, .account, .accountComponent {
  display: inline-block;
}
.Logo{/*로고 이미지*/
  width: 400px;
  height: 100px;
  display: block;
  margin: auto;
  padding-top : 20px;
  border: 0;
}
img.Logo:hover{
  cursor: pointer;
}

.account {
  height: inherit;
  float: right;
}
div.Bar {/*메뉴바*/
  overflow: hidden;
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 300;
  background-color: black;
  opacity: 0.6;
  display: inline-block;
  height: 50px;
}

div.Bar button:hover{/*bar의 각 manu들에 마우스를 올렸을 때 변화*/
  background-image:url("images/bg.jpg");
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% 100%;
  cursor: pointer;
}

.menuButton{/*버튼*/
  background-color: black;
  opacity: 0.6;
  color : white;
  border: 0;
  height: 50px;
  width: 16.3%;
  font-weight: bold;
  font-size: 20px;
}
div.Login{
  text-align: right;
}
.accountComponent {/*로그인, 회원 가입, 로그인한 사용자 이름*/
    display: inline-block;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

a.accountComponent:hover{
  color: red;
}
footer {
  text-align: center;
  padding: 2em 0 0 0;
  font-size: 0.9em;
  color: #ccc;
  color: rgba(255, 255, 255, 0.45);
}
